@import "tailwindcss";

@theme {
  --color-tawny-olive: #BF9A2A;
  --color-corn-harvest: #8C742B;
  --color-more-than-a-week: #8C8C8C;
  --color-scarabeus-sacer: #404040;
  --color-black-wash: #0D0D0D;
} 